<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se connecter à Maelys</title>
</head>
<body>

<header>
    <!-- INCLUDE HEADER FILE -->
</header>
<div class="content">
    <div id="error-message" class="row hidden">
        <!-- SHOW ONLY IF THERE IS A ERROR TO BE SHOWN -->
    </div>
    <div class="row text-center" id="welcome-message">
        <h1>Bienvenue sur le service Maely5</h1>
    </div>
    <div class="row text-center">
        <form class="form-horizontal" action="/login_check" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
            </div>
            <button class="btn btn-default" type="submit">Se connecter</button>
        </form>
    </div>
</div>
<footer>
    Footer de la page
</footer>
</body>
</html>